@keyframes mol_app_demo_theming
{
	0% { background: #ccc }
	20% { background: #aae }
	40% { background: #aea }
	60% { background: #eaa }
	80% { background: #aaa }
}

[mol_app_demo] {
	width: 100%;
	height: 100%;
	background-color: steelblue;
	background-image: linear-gradient(white 2px, transparent 2px),
		linear-gradient(90deg, white 2px, transparent 2px),
		linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
	background-attachment: local;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	overflow: auto;
}

[mol_app_demo_single="true"] {
	flex-wrap: nowrap;
	padding: 40px;
}

[mol_app_demo_screen] {
	width: 560px;
	height: 360px;
	position: relative;
	margin: 20px;
	background: #ccc;
	z-index: 0;
	outline: 1px solid steelblue;
	display: flex;
	flex-direction: column;
}

[mol_app_demo_single="true"] > [mol_app_demo_screen] {
	flex: 1;
	height: 100%;
	margin: 0;
}

[mol_app_demo_screen]:hover {
	animation: mol_app_demo_theming 30s infinite;
}

[mol_app_demo_screen_titler] {
	background: inherit;
	color: black;
	padding: .25em .5em;
	font-size: .8em;
	font-weight: bold;
	margin: -1.75em 0 0 0;
	outline: 1px solid steelblue;
	position: absolute;
}

[mol_app_demo_screen_contenter] {
	width: 100%;
	height: 100%;
	overflow: auto;
	display: flex;
	align-content: center;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
}

[mol_app_demo_graph] {
	flex: 1;
	background: snow;
	outline: 1px solid steelblue;
	margin-left: 40px;
}

[mol_app_demo_node] {
	font-size: .75rem;
}

[mol_app_demo_edge] {
	stroke : steelblue;
}

[mol_app_demo_edge]:hover {
	stroke-width: 2px;
}
