[mol_tabler] {
    width: 100%;
    max-height: 100%;
    background: inherit;
}

[mol_tabler_lister] {
    margin: auto;
    display: table;
    border-spacing: 1px;
    background: inherit;
}

[mol_tabler_lister] > * {
	display: table-row;
    background: inherit;
    background: rgba(255,255,255,1);
}

[mol_tabler_lister] > * > * {
    white-space: nowrap;
	display: table-cell;
}

[mol_tabler_lister] > *:nth-child(odd) {
    background: rgba(255,255,255,.95);
}
