[mol_error="fail"] {
	background-image: repeating-linear-gradient(
		45deg,
		rgba(255,220,220,1),
		rgba(255,220,220,1) 11px,
		rgba(255,255,220,1) 10px,
		rgba(255,255,220,1) 20px
	) !important;
	background-size: 28px 28px !important;
}

@keyframes mol_show {
	from {
		opacity: 0;
	}
}

@keyframes mol_error_move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 28px 0;
  }
}

[mol] {
	animation: jin2_show .25s ease-in;
}

[mol_error="wait"] {
	background-image: repeating-linear-gradient(
		45deg,
		rgba(0,0,255,.05),
		rgba(0,0,255,.05) 11px,
		rgba(255,255,255,.02) 10px,
		rgba(255,255,255,.02) 20px
	) !important;
	background-size: 28px 28px !important;
	animation: mol_show 1s linear , mol_error_move .25s linear infinite !important;
}
