[mol_scroller] {
	overflow: auto;
	overflow: auto;
	flex: 1 1 100%;
	align-self: stretch;
	outline: 1px solid rgba( 0 , 0 , 0 , .1 );
	will-change: scroll-position;
}
@media print {
	[mol_scroller] {
		overflow: visible;
	}
}

[mol_scroller]::-webkit-scrollbar {
	width: 2vmin;
	height: 2vmin;
	max-width: 10px;
	max-height: 10px;
}

[mol_scroller]::-webkit-scrollbar-track {
	background: #eee;
}

[mol_scroller]::-webkit-scrollbar-thumb {
	background: #999;
}

[mol_scroller_contenter] > * {
	transform: translateZ(0);
}

[mol_scroller_overflowTop="true"] {
	box-shadow: inset 0 4px 8px -4px;
}

[mol_scroller_overflowBottom="true"] {
	box-shadow: inset 0 -4px 8px -4px;
}

[mol_scroller_overflowTop="true"][mol_scroller_overflowBottom="true"] {
	box-shadow: inset 0 4px 8px -4px , inset 0 -4px 8px -4px;
}