[mol_checker] {
    justify-content: center;
    align-items: center;
    align-content: center;
}

[mol_checker]:before {
	content: '✔';
}

[mol_checker]:not(:empty):before {
    padding-right: .5vmin;
}

[mol_checker_checked="false"]:before {
    opacity: .25;
}
