[mol_checker] {
    justify-content: center;
    align-items: center;
    align-content: center;
}

[mol_checker]:before {
	content: '✔';
    padding: 0 .1em;
}

[mol_checker_checked="false"]:before {
    opacity: .25;
}
